[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
Logs/
MemoryCaptures/
UserSettings/

# Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.user
*.pidb
*.vs/

# Unity generated
*.apk
*.aab
*.log

# OS
.DS_Store
Thumbs.db
